<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Allows to share your camera during voice chats and calls.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allows to speak during voice chats and calls.</string>
</dict>
</plist>
